<a href="javascript:" class="pins__item__delete js_delete-pin">&times;</a>

<div class="pins__item__video-container">
  <%= src %>

  <div class="pins__item__new-pin-fields">
    <input class="js_pin-src" type="text" value="<%= src %>">

    <select name="js_pin-type" id="">
      <option value="<%= type %>"><%= type %></option>
      <% if(type !== 'image') { %><option value="image">image</option><% } %>
      <% if(type !== 'video') { %><option value="video">video</option><% } %>
      <% if(type !== 'text')  { %><option value="text">text</option><% } %>
    </select>
  </div>
</div>

<div class="pins__item__details">
  <h2 class="pins__item__details__title">
    <%= title %>
  </h2>

  <input class="pins__item__title-input js_pin-title" type="text" value="<%= title %>">
</div>
